<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shobojit.siuapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Initailization.Intitialization"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Home.MainActivity" />
        <activity android:name=".Splashscreen.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home.Activity.Academic_Calender"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".Home.Activity.Notice_Activity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".Home.Activity.NoticeDetail"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".Home.Faculty_Activity.Eng_fac" />
        <activity android:name=".Home.Syllabus_Activity.Cse_syl" />
        <activity android:name=".Home.Syllabus_Activity.Ece_syl" />
        <activity android:name=".Home.Faculty_Activity.Law_fac" />
        <activity android:name=".Home.Faculty_Activity.Hum_fac" />
        <activity android:name=".Home.Faculty_Activity.Buc_fac" />

        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c5fb3b7fba176c02aba7cdee2197e7ccf34a22f7" />

        <activity android:name=".OneSignalActivity.TextActivity" />
        <activity android:name=".OneSignalActivity.ImageActivity" />
        <activity android:name=".Home.Activity.Notice_Detail_02" />
        <activity android:name=".Home.lab.cse_lab" />
        <activity android:name=".Home.lab.ece_lab"></activity>
    </application>

</manifest>